/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
            width: 300px; /* Aumenta el tamaño de la imagen */
        }

#titulo {
            font-size: 48px; /* Aumenta el tamaño del título */
        }


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #74A9D8; /* Celeste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #fff; /* Texto blanco por defecto */
}

/* Header */
header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

/* Logo */
#logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Título centrado */
#titulo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    color: #fff; /* Blanco */
}

/* Contenedor principal del juego */
.game-container {
    text-align: center;
    margin-top: 100px;
}

/* Estilo de entrada de texto */
input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #ffffff; /* Blanco para el input */
    color: #333; /* Color oscuro para el texto del input */
}

/* Estilo de los botones */
button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #FFD700; /* Amarillo (un tono dorado como el sol de la bandera) */
    color: #005AA7; /* Azul oscuro (un tono del azul de la bandera) */
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FFCC00; /* Amarillo más oscuro */
    color: #fff; /* Blanco al pasar el cursor */
}

/* Pie de página */
footer {
    position: fixed;
    bottom: 10px;
    text-align: center;
    font-size: 0.9rem;
    color: #fff; /* Blanco */
}
